<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script> 
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>


    <h2 style="text-align: center;font-family: fantasy;">My To Do List</h2>
    <div id="create-div" class="container" style="display: none"></div>   
    <div class="container" id="container">
        <div>
            <button class="btn btn-primary" type="button" id="create-btn"> create </button>
        </div> <br>
        
    </div>

</body>
</html>